<style type="text/css">
* { margin: 0; padding: 0; color: #FFFFFF; }
body { font-family: Gulim, sans-serif; font-size: 12px; margin: 10px; }
#tableCSS { border-collapse: collapse; border-top: 1px solid #a0a0a0; border-bottom: 1px solid #a0a0a0; border-right: 1px solid #a0a0a0; border-left: 1px solid #a0a0a0; width: 100%; text-align: center; }
#tableCSS th, #tableCSS td { border-right: 1px solid #CBCBCB; border-bottom: 1px solid #CBCBCB; }
#tableCSS td { padding: 1px 0 1px 0; height: 20px;}
#tableCSS .last-child { border-right: 0; }
.bdNum { font-size:12px; }
.bdTitle { text-align: left; }
.bdTitle name { padding: 0 1px; color: #3C3C3C; text-decoration: bold; }
.bdName { }
</style>

.title {
	font-family: Gulim;
    font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	color: #ffffff;
}

.subtitle {
	font-family: Gulim;
	font-size: 12px;
	line-height: 20px;
    color: #5a5a5a;
}

.header {
	font-family: Gulim;
	font-size: 12px;
    color: #bebcb6;
}

a:link {
    text-decoration: none;
	color: #3c3c3c;
}

a:visited {
    text-decoration: none;
    color: #3c3c3c;
}

a:hover {
	text-decoration: none;
	color: #fed18e;
}

a:active {
	text-decoration: none;
	color: #fed18e;
}

.cell_01 { background-color: #f3f5f7; }

.cell_02 { background-color: #ffffff; }



