/* TopMenu Link*/
A:link.tm      {font:12px; "µ¸¿ò", "µ¸¿òÃ¼"; color:#ffffff; text-decoration:none; font-weight: bold;}
A:visited.tm   {font:12px; "µ¸¿ò", "µ¸¿òÃ¼"; color:#ffffff; text-decoration:none; font-weight: bold;}
A:active.tm    {font:12px; "µ¸¿ò", "µ¸¿òÃ¼"; color:#ffffff; text-decoration:none; font-weight: bold;}
A:hover.tm     {font:12px; "µ¸¿ò", "µ¸¿òÃ¼"; color:#ffffff; text-decoration:none; font-weight: bold;}
	
/* 2Depth Link */
A:link.d2	{color: #232323; text-decoration:none;}
A:visited.d2{color: #232323; text-decoration:none;}
A:active.d2 {color: #3399ff; text-decoration:none;}
A:hover.d2  {color: #3399ff; text-decoration:none;}
.d2_selected{color: #3399ff; font-weight: bold;}

/* Top Quick menu Link */
A:link.d2	{color: #737777; text-decoration:none;}
A:visited.d2{color: #737777; text-decoration:none;}
A:active.d2 {color: #737777; text-decoration:underline;}
A:hover.d2  {color: #737777; text-decoration:underline;}

/* TOP */
.topLogo	{background:url(/vs/img/top_logo_bg.gif) no-repeat; padding-left:15px;}
.topRight	{font-size:24px; color:#737777; text-align:right; padding-right:20px;}
.topRight2	{font-size:11px; color:#737777; text-align:right; padding-right:5px;}
.topLeft	{font-size:11px; color:#F9953F; text-align:right; padding-top:1px;}
.topLogout  {font-size:11px; color:#979797; text-align:right;}
.menu		{font-weight : bold; color : #ffffff;
			padding: 10px 0px 0px 47px; vertical-align:top;
			background:url(/vs/img/top_menu_bg.gif) no-repeat;}
.menuRight {background:url(/vs/img/top_menu_bg_right.gif) no-repeat right top;}	

/*Sub Menu */
#sm_01	{top:82px;left:37px; width:700px; height:16px; position:absolute;
		z-index:1; padding-top:11px; vertical-align:top;
		background: url(/vs/img/top_2d_over1.gif) no-repeat  left top fixed; visibility: visible;}
#sm_02	{top:82px; left:160px; width:999px; eight:16px; position:absolute;
		z-index:2; padding-top:11px; vertical-align:top;
		background: url(/vs/img/top_2d_over2.gif) no-repeat  left top fixed; visibility: hidden;}
#sm_03  {top:82px; left:160px; width:999px; height:16px; position:absolute;
		z-index:3; padding-top:11px; vertical-align:top;
		background: url(/vs/img/top_2d_over2.gif) no-repeat  left top fixed; visibility: hidden;}
#sm_04	{top:82px; left:160px; width:999px; height:16px; position:absolute;
		z-index:2; padding-top:11px; vertical-align:top;
		background: url(/vs/img/top_2d_over2.gif) no-repeat  left top fixed; visibility: hidden;}
#sm_05	{top:82px; left:160px; width:200px; height:16px; position:absolute;
		z-index:2; padding-top:11px; vertical-align:top;
		background: url(/vs/img/top_2d_over2.gif) no-repeat  left top fixed; visibility: hidden;}