<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>bizportal</display-name>
        <resource-ref>
          <description>ipivr db</description>
          <res-ref-name>jdbc/ipivr</res-ref-name>
          <res-type>javax.sql.DataSource</res-type>
          <res-auth>Container</res-auth>
        </resource-ref>	
	<servlet>
		<servlet-name>webuser</servlet-name>
		<servlet-class>webuser.webuser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>bizportal.nasacti.ipivr.controller.Controller</servlet-class>
		<init-param>
		  <param-name>CommandProperty</param-name>
		  <param-value>Command.properties</param-value>
		</init-param>
		<init-param>
		  <param-name>MaxUploadSize-MB</param-name>
		  <param-value>20</param-value>
		</init-param>
		<init-param>
		  <param-name>AnCodePath</param-name>
		  <!-- <param-value>/data/acromate_home/acroms/SoundV/Ancode</param-value> -->
		  <param-value>/data/acromate_home/ssw/SoundV/Ancode</param-value>
		</init-param>
		<init-param>
		  <param-name>FileMentPath</param-name>
		  <!-- <param-value>/data/acromate_home/acroms/SoundV/FileMent</param-value> -->
		  <param-value>/data/acromate_home/ssw/SoundV/FileMent</param-value>
		</init-param>
	    <init-param>
	      <param-name>ResponseModeKey</param-name>		<!-- Normal IPCS  -->
	      <param-value>202</param-value>
	    </init-param>
	    <init-param>
	      <param-name>KeyActionVisibleType</param-name> <!-- Normal IPCS Key Action.  -  1: (Moniter Transfer, Goto Code, Undefined), 2: ALL -->
	      <param-value>1</param-value>
	    </init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>webuser</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>*.do2</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
